<table class="table table-hover table-responsive table-striped" id="_{{ formId }}">
    <thead>
        <tr>
            <th class="w-1">#</th>
            {% if selectable %}
                <th class="w-1">
                    <div class="d-inline icheck-primary">
                        <input data-all data-group="{{ formId }}" id="_{{ formId }}_checkbox" type="checkbox">
                        <label for="_{{ formId }}_checkbox"></label>
                    </div>
                </th>
            {% endif %}
            {% if actions %}
                <th class="w-1">{{ label('backend.operation') }}</th>
            {% endif %}
            {% for type in switches|keys %}
                <th class="w-1">{{ label("backend.#{type}") }}</th>
            {% endfor %}
            {% for style in styles %}
                <th>
                    {% if style.column.unordered or unordered %}
                        {{ label(style.column.i18n ?: style.i18n) }}
                    {% else %}
                        {% if not orders[style.name] %}
                            {% set icon, order = 'fas fa-sort', style.name %}
                        {% elseif orders[style.name] > 0 %}
                            {% set icon, order = 'fas fa-sort-up', "-#{style.name}" %}
                        {% else %}
                            {% set icon, order = 'fas fa-sort-down', null %}
                        {% endif %}
                        <a data-ajax href="{{ build(path, parameters, {o: order}) }}">
                            {{ label(style.column.i18n ?: style.i18n) }}
                            <i class="{{ icon }} ml-2"></i>
                        </a>
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% set num, total = (page - 1) * size, {} %}
        {% for data in list %}
            {% set suffix = "@#{data.id}" %}
            <tr>
                <td>{{ num + loop.index }}</td>
                {% if selectable %}
                    <td>
                        <div class="d-inline icheck-primary">
                            <input data-group="{{ formId }}" data-id="{{ data.id }}" id="_{{ formId }}_{{ data.id }}" type="checkbox">
                            <label for="_{{ formId }}_{{ data.id }}"></label>
                        </div>
                    </td>
                {% endif %}
                {% if actions %}
                    <td>
                        {% for type, action in actions %}
                            {% set button = cfg("backend.button-#{type}") %}
                            {% set icon = cfg("backend.icon-#{type}") %}
                            {% set title = i18n(action.i18n ?: "backend.#{type}") %}
                            {% set href = include(template_from_string(action.path), data, false) %}
                            {% if action.link %}
                                <a class="btn btn-flat {{ button }}" data-ajax href="{{ build(href, backward) }}" title="{{ title }}">
                                    <i class="{{ icon }}"></i>
                                </a>
                            {% elseif action.picker %}
                                <a class="btn btn-flat {{ button }}" data-next-path="{{ href }}" data-node="{{ controller.node }}" data-picker="{{ data.id }}" data-title="{{ data['.title'] }}" title="{{ title }}">
                                    <i class="{{ icon }}"></i>
                                </a>
                            {% else %}
                                <button class="btn btn-flat {{ button }}" data-ajax="{{ href }}" data-args="modal" title="{{ title }}">
                                    <i class="{{ icon }}"></i>
                                </button>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endif %}
                {% for type, switch in switches %}
                    <td>
                        <div class="custom-control custom-switch">
                            <input{% if data[".#{type}"] %} checked{% endif %} class="custom-control-input" data-switch="{{ type }}" id="{{ type }}:{{ controller.node }}/{{ data.id }}" type="checkbox">
                            <label class="custom-control-label" for="{{ type }}:{{ controller.node }}/{{ data.id }}"></label>
                        </div>
                    </td>
                {% endfor %}
                {% for style in styles %}
                    {% if style.column.subtotal and data[style.name] %}
                        {% set total = total|merge({(style.name): total[style.name] + data[style.name]}) %}
                    {% endif %}
                    <td data-column="{{ style.name }}">
                        {% include 'backend/component.twig' with {controller, data, style, suffix} only %}
                    </td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td class="text-center" colspan="{{ 1 + (selectable ? 1 : 0) + (actions ? 1 : 0) + switches|length + styles|length }}">
                    {{ label('error.data-not-found') }}
                </td>
            </tr>
        {% endfor %}
        {% block subtotal %}
            {% if total %}
                <tr>
                    <td class="text-center" colspan="{{ 1 + (selectable ? 1 : 0) + (actions ? 1 : 0) + switches|length }}">
                        {{ label('backend.subtotal') }}
                    </td>
                    {% for style in styles %}
                        <td>{{ total[style.name] }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endblock %}
    </tbody>
</table>
