{% extends 'backend/content-wrapper.twig' %}

{% set data, formId, tabs = result.data, random(), {default: result.styles|filter(s => not s.column.tab)} %}

{% for style in result.styles %}
    {% if style.column.tab and not tabs[style.column.tab] %}
        {% set tabs = tabs|merge({(style.column.tab): result.styles|filter(s => s.column.tab == style.column.tab)}) %}
    {% endif %}
{% endfor %}

{% set tabs = tabs|filter(styles => styles) %}

{% block header %}
    {% include 'backend/content-header.twig' with {
        breadcrumbs: result.breadcrumbs,
        description: result.subtitle,
        title: label(controller.menu.i18n)
    } only %}
{% endblock %}

{% block content %}
    <div class="card card-outline card-outline-tabs card-primary rounded-0">
        <div class="border-bottom-0 card-header p-0">
            <ul class="nav nav-tabs">
                {% for tab in tabs|keys %}
                    <li class="nav-item">
                        <a class="{% if loop.first %}active {% endif %}nav-link rounded-0" data-toggle="tab" href="#tab-{{ tab }}">
                            {{ label("backend.tab-#{tab}") }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-body form-wrapper" id="_{{ formId }}">
            <div class="tab-content">
                {% for tab, styles in tabs %}
                    <div class="{% if loop.first %}active {% endif %}fade show tab-pane" id="tab-{{ tab }}">
                        {% include 'backend/form/inputs.twig' with {controller, data, styles} only %}
                    </div>
                {% endfor %}
            </div>
            <input name="r" type="hidden" value="{{ form.r }}">
        </div>
        {% if result.buttons %}
            <div class="card-footer text-right">
                {% include 'backend/form/buttons.twig' with {
                    backward: form.r,
                    buttons: result.buttons|filter(v => v)|sort((a, b) => a.ranking <=> b.ranking),
                    data,
                    formId
                } only %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postprocess %}
    {{ parent() }}

    initForm($("#_{{ formId }}"));
{% endblock %}
