{% extends 'backend/content-wrapper.twig' %}

{% set data, formId, tabs = result.data, random(), [] %}

{% for style in result.styles %}
    {% if style.column.tab and style.column.tab not in tabs %}
        {% set tabs = tabs|merge([style.column.tab]) %}
    {% endif %}
{% endfor %}

{% block header %}
    {% include 'backend/content-header.twig' with {
        breadcrumbs: result.breadcrumbs,
        description: result.subtitle,
        title: label(controller.menu.i18n)
    } only %}
{% endblock %}

{% block content %}
    <div class="card card-outline card-outline-tabs card-primary">
        <div class="border-bottom-0 card-header p-0">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="active nav-link" data-toggle="tab" href="#tab-default">
                        {{ label('backend.tab-default') }}
                    </a>
                </li>
                {% for tab in tabs %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-{{ tab }}">
                            {{ label("backend.tab-#{tab}") }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-body form-wrapper" id="_{{ formId }}">
            <div class="tab-content">
                <div class="active fade show tab-pane" id="tab-default">
                    {% block default_input %}
                        {% include 'backend/form/inputs.twig' with {
                            controller,
                            data,
                            styles: result.styles|filter(s => not s.column.tab)
                        } only %}
                    {% endblock %}
                </div>
                {% for tab in tabs %}
                    <div class="fade show tab-pane" id="tab-{{ tab }}">
                        {% include 'backend/form/inputs.twig' with {
                            controller,
                            data,
                            styles: result.styles|filter(s => s.column.tab == tab)
                        } only %}
                    </div>
                {% endfor %}
            </div>
            <input name="r" type="hidden" value="{{ form.r }}">
        </div>
        {% if result.buttons %}
            <div class="card-footer text-right">
                {% include 'backend/form/buttons.twig' with {
                    backward: form.r,
                    buttons: result.buttons|sort((a, b) => a.ranking <=> b.ranking),
                    data,
                    formId,
                    path: result.path
                } only %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block postprocess %}
    {{ parent() }}

    initForm($("#_{{ formId }}"));
{% endblock %}
