{% extends 'backend/response.twig' %}

{% set formId = random() %}

{% block target %}.modal-wrapper{% endblock %}

{% block html %}
    <div class="fade modal">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h4 class="modal-title">{{ i18n('menu/common.label') }}</h4>
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="_{{ formId }}">
                        <div class="form-group">
                            <label>{{ i18n('backend.label-name') }}</label>
                            <input class="form-control rounded-0" name="name" readonly type="text" value="{{ form.name }}">
                        </div>
                        <div class="form-group">
                            <label>{{ i18n('backend.label-content') }}</label>
                            <textarea class="form-control rounded-0" name="content" rows="5">{{ i18n(form.name, '') }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="justify-content-between modal-footer">
                    <button class="btn btn-default btn-flat" data-dismiss="modal">{{ i18n('backend.cancel') }}</button>
                    <button class="btn btn-flat btn-info" data-ajax="label/update" data-form="#_{{ formId }}">{{ i18n('backend.save') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postprocess %}
    var modal = $(".modal-wrapper .modal").modal();

    modal.on("hidden.bs.modal", function () {
        modal.remove();
    });

    modal.find("textarea[name=content]").focus();
{% endblock %}
